.feed {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ededed;
}

.feedList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feedItem {
  margin: 0 0 20px;
  padding: 20px;
  border: 1px solid #ededed;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.feedCaption {
  font-weight: 600;
  color: #1c1c1c;
}

/* .feedImg {
  width: 100px;
  height: 100px;
  margin-right: 0.5em;
} */

.PostInput {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #ededed;
}

.PostInput input {
  flex-grow: 1;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  outline: none;
  color: #1c1c1c;
}

.PostInput button {
  padding: 0.5em;
  font-size: 1em;
  background-color: #ffffff;
  color: #1c1c1c;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.feedImg {
  width: 500px;
  height: auto;
}

.feedTitle {
  color: #1c1c1c;
  text-align: center;
  text-shadow: none;
  text-transform: none;
}
