body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.map-container {
  width: 50%;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 100px;
  width: auto;
}
