body {
  font-family: verdana;
  margin: 0;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.map-container {
  width: 50vw;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 100px;
  width: auto;
}

.avatar-preview {
  width: 50px;
  height: auto;
  border-radius: 50px;
}

.profile-image {
  max-width: 25px;
  border-radius: 25px;
}

.Events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50vw;
}

/*.Events-list li {*/
/*  list-style-type: none;*/
/*  flex: 0 0 25%;*/
/*  margin: 1rem;*/
/*  padding: 1rem;*/
/*  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
/*  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);*/
/*}*/

/*.Events-list li:hover {*/
/*  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
/*}*/

/*.Events-list img {*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*}*/

.MuiCard-root {
  margin: 0.5em;
  justify-content: space-around;
}

.MuiCard-root:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
}

.MuiCardMedia-img {
  max-width: 250px;
  height: auto;
}

.event_link {
  text-decoration: none;
  color: inherit;
}

.welcome {
  color: #12163f;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 1px 2px #e43397, 0 0 1em #00c4cc, 0 0 0.5em #00c4cc;
  line-height: 1;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 0;
  vertical-align: middle;
}

.duet {
  color: #00c4cc;
}

.welcomeP {
  color: #12163f;
  text-align: center;
  text-shadow: 2px 1px 2px #e43397, 0 0 1em #00c4cc, 0 0 0.5em #00c4cc;
  margin: 0 100px;
}

.background {
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  align-items: center;
}

#map_events_container {
  display: flex;
}

.mapLink {
  text-decoration: none;
  color: inherit;
}
#login {
  padding: 0 15px 0 15px;
}

#login > h2 {
  color: #12163f;
  text-align: center;
  text-shadow: 2px 1px 2px #e43397, 0 0 1em #00c4cc, 0 0 0.5em #00c4cc;
  text-transform: uppercase;
}

.home_container {
  color: #12163f;
  text-align: center;
  text-shadow: 2px 1px 2px #00c4cc;
  text-transform: uppercase;
}

.indvEvent {
  color: #12163f;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 1px 2px #00c4cc;
}

.indvEventName {
  padding-top: 1rem;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 50vw;
  margin: auto;
}

/* Begin Chat CSS */
.ChatApp {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  /* place-items: center; */
}
/* body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"); */

/* .joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
} */
/* 
.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
} */
/* .joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
} */

/* .joinChatContainer button {
  width: auto;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
} */

.chat-window {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  /* height: 50px; */
  /* border-radius: 6px; */
  text-align: center;
  background: #263238;
  position: relative;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
}

.chat-window .chat-body {
  height: 70vh;
  width: auto;
  /* border: 1px solid #263238; */
  background: #12163f;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 400px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
  color: white;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
  color: white;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 50px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 95%;
  border: 1px;
  padding: 0 0.5em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  background-color: #263238;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer input,
select,
textarea {
  color: white;
}

.chat-window .chat-footer button {
  border: 1px;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 5%;
  height: 100%;

  background-color: #263238;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}

.chat-sidebar {
  padding-top: 1rem;
  border: 1px solid #263238;
  height: 840px;
  background-color: white;
}
.chat-sidebar > ul {
  list-style-type: none;
  padding: 1rem;
}
/* End Chat CSS */

.feed {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.feedList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feedItem {
  margin: 0 0 20px;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.feedCaption {
  font-weight: bold;
}

.profileImg {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-right: 0.5em;
}

.feedImg {
  width: 100px;
  height: 100px;
  margin-right: 0.5em;
}

.PostInput {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

.PostInput input {
  flex-grow: 1;
  padding: 0.5em;
  font-size: 1em;
  font-family: verdana;
  border: none;
  outline: none;
}

.PostInput button {
  padding: 0.5em;
  font-size: 1em;
  /* color: white; */
  border: none;
  outline: none;
  cursor: pointer;
}

/*.people-you-may-know-cards{*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  flex-direction: column;*/
/*}*/

.people-you-may-know-img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 0.5em;
  object-fit: cover;
}

.ppl-may-know {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100;
  height: 150;
  padding: 10px;
}

.ppl- .ppl-may-know .MuiButton-root {
  font-size: 10px;
  text-align: center;
}

.MuiButton-root {
  text-align: center;
}

.may-know-list > .MuiCard-root {
  display: inline-block;
  text-align: center;
}

.ppl-may-know-link {
  text-decoration: none;
  color: inherit;
}

.eventImg {
  width: 40%;
  height: auto;
  padding-top: 1rem;
}

.user-page {
  color: #12163f;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 1px 2px #00c4cc;
  line-height: 1;
}

.you-got-friends .MuiButton-root {
  color: #12163f;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 1px 2px #00c4cc;
  line-height: 1;
}

.username-top {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.username-top img {
  max-height: 200px;
  width: 200px;
  height: 200px;
  max-width: 200px;
  border-radius: 40px;
}

.list-6-friends {
  margin: 5% 0;
  color: #12163f;
  text-align: center;
  text-shadow: 2px 1px 2px #00c4cc;
  text-transform: uppercase;
}

.list-6-friends > .MuiCard-root {
  display: inline-block;
}

.friend-img {
  border-radius: 30px;
}

.user-update {
  width: 25%;
  align-items: center;
  text-align: center;
  margin: auto;
}

.commentItem {
  list-style: none;
}

.commentList {
  padding-inline-start: 0;
}

.feedImg {
  width: 500px;
  height: auto;
}

.feedTitle {
  color: #12163f;
  text-align: center;
  text-shadow: 2px 1px 2px #00c4cc;
  text-transform: uppercase;
}

.chatCategory {
  color: #12163f;
  text-align: center;
  text-shadow: 2px 1px 2px #00c4cc;
  text-transform: uppercase;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
}

.name-photo {
  display: flex;
  flex-direction: column;
}

.accept-deny .MuiButton-root {
  font-size: 10px;
}

.accept .MuiButton-root {
  background-color: #12163f;
  color: #00c4cc;
}
